@font-face {
  font-family: nunito;
  src: url(FONT/Nunito-Bold.ttf);
}

img.nav{
  display: block;
  height: 35px;
  max-width: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}
h1{
  text-align: center;
  font-family: nunito;
  margin:50px;
  padding: 15px;
padding-bottom: 0px;
margin-bottom: 15px;
  margin-top: 250px;
}
p{
  text-align: center;
  font-family: nunito;
  font-size: 20px;
  padding: 10px;
  padding-bottom: 0px;

  width: 700px;
  margin-left: auto;
  margin-right: auto;
}
p.order{
  text-align:  center;
  font-family: nunito;
  padding-top: 0px;

}
li{
  text-align: center;
  font-family: nunito;
  font-size: 20px;
  font-weight: bolder;
  background-color:#feffde;
  margin: auto;
}
div.container{

  padding: 25px;

  margin-top: 50px;
}


li.nav-item{
  background-color: inherit;
}

div.col-sm{
  text-align: center;
  font-family: nunito;
  font-size: 20px;
  font-weight: bolder;
  background-color: #ffc2b4;
  padding: 25px;
}
